.navbar-inverse .navbar-nav>.active>a,
 .navbar-inverse .navbar-nav>.active>a:focus, 
 .navbar-inverse .navbar-nav>.active>a:hover {
    color:none;
    background-color:none;
}
.navbar-inverse .navbar-collapse,
 .navbar-inverse .navbar-form {
    border-color:none;
}
.navbar {
    position: relative;
    min-height: 80px;
    background:green;
	margin-bottom:0px;
	border-radius:0px;
}

.navbar-nav>li {
    float: left;
	padding-top:16px;
	padding-left:18px;
	font-weight:bold;
    
}
.brand-img img{
	width:300px;
	height:50px;
}
.navbar>.container .navbar-brand, .navbar>
.container-fluid .navbar-brand {
    margin-left: -15px;
    margin-top: -26px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #eee;
    text-transform: uppercase;
	font-size:15px;
}
.navbar-inverse .navbar-nav>.active>a,
 .navbar-inverse .navbar-nav>.active>a:focus,
 .navbar-inverse .navbar-nav>.active>a:hover {
    color: green;
    background-color:red;
}
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    color:green;
    background-color: red;
}
.dropdown-menu>li>a {    
    padding: 10px 15px;    
    font-weight:bold;    
    color:white;    
	background:green;
	border:1px solid black;
}
.dropdown-menu>li>a:hover {
	background:red;
	color:green;
}
.dropdown-menu {    
    padding:0px;    
}
.dropdown-menu ul li:hover{
	color:yellow;
	background:brown;
}
.carousel-caption h2{
	padding-bottom:250px;
	color:red;
	font-size:65px;
	text-transform:uppercase;
	font-weight:bold;
	transition:0.7s;
	
}
.carousel-caption h2:hover{
	color:white;
}
element.style {
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;    
    background-color: green;
    background-color: green;
    border: 1px solid green;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 17px;
    height: 17px;
    margin: 0px;
	
    background-color: red;
}
#about{
	/*background:#fff;*/
	margin-bottom:60px;
	min-height: 300px;
}
.about-top h2{
	font-size:40px;
	font-weight:bold;
	text-transform:uppercase;
	border-bottom:11px solid red;
	max-width:250px;
	padding-bottom:10px;
	
}
.about-top p{
	padding:15px 0px 15px 0px;
	line-height:25px;
	font-family:verdana;
	text-align:justify;
	font-size:16px;
}
.about-content{
	margin-top:25px;
}
.about-content img{
	margin-left:50px;
}

/*
#footer{
	background:black;
	margin-top: 100px;
}
#footer p{

	color:white;
	padding-top:18px;
}
*/
.admin{
	min-height: 300px;
}

