
nav li {
list-style: none;
}
nav li a{
    color:red; font-size: 30px;
    border: 2px solid green;
    border-radius: 5px;
    font-weight: bold;
    background: green;

}
nav li a:hover{
    color: yellow;
    text-decoration: none;
}
.table th{
    color: yellow;
    background: firebrick;
    text-align: center;
    font-size: 18px;
}
legend{
    color:brown;
    font-weight: bold;
    font-size: 80px;
}
label{
    color: red;
    font-size: 24px;
}
/*.shown{
    color: yellow;
    border: 5px solid green;
    display: inline;
    background: green;
    background:blue;
    width: 55px;
    height: 25px;
    border-radius: 5px;
    width: 55px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.edit{
    color: yellow;
    border: 5px solid blue;
    display: inline;
    font-size: 16px;
    font-weight: bold;
}
.delete{
    color: yellow;
    border: 5px solid red;
    display: inline;
    background:red;
    width: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.show {
    display: none;
}*/

dt{
    text-align: center;
    border: 2px solid green;
    color:blue;
}
dd{
    text-align: center;
    border: 2px solid green;
    color:#F83010;
}
.listhead{
    color:#10F864;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    background: black;
    margin-bottom: 0px;
}